<!doctype html>

<html ng-app="internetApp">

<head>

	<!-- Angular.js -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	
	<!-- D3.js -->
	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	
	<!-- Numeral.js -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>
	
	<!-- Site styles -->
	<link rel="stylesheet" href="styles.css" />

</head>

<body ng-controller="internetController">

	<div class="section half">
		<h1 class = "line-under">Towns with best Internet access</h1>
		<ul class="towns">
			<li ng-repeat="town in top5(data)">
				<town></town>
			</li>
		</ul>
	</div>
	
	<div class="section half">
		<h1 class = "line-under">Towns with worst Internet access</h1>
		<ul class="towns">
			<li ng-repeat="town in bottom5(data)">
				<town></town>
			</li>
		</ul>
	</div>

	<div class="section">
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Percentage of households with Internet access</th>
					<th>Number of households without Internet access</th>
					<th>Population</th>
					<th>Median income</th>
					<th>College degree</th>
				</tr>
			</thead>
		</table>
	</div>

</body>

<script type="text/javascript" src="app.js"></script>

</html>